<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="CustomerDB" connectionString="Server=DESKTOP-GOAUQDD\SQLEXPRESS02;Database=CustomerManagement;Trusted_Connection=True;"
   providerName="System.Data.SqlClient" />
  <add name="Customer_Management_System.Properties.Settings.CustomerManagementConnectionString"
   connectionString="Data Source=DESKTOP-GOAUQDD\SQLEXPRESS02;Initial Catalog=CustomerManagement;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
